/**
  * GLOBAL DEFAULTS
**/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #02020b;
	color: #ece4b7;
	overflow-x: hidden;
}

.App {
	text-align: center;
}

img {
	border-radius: 50%;
}

.contentImages img,
#menuSection .sideImages img {
	width: 75px;
	height: 75px;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button {
	border: 0;
	padding: 0;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**
  * NAVIGATION SECTION
**/
#topnav {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #97ba27;
	z-index: 9999;
}

#menuSVG {
	position: fixed;
	top: 12px;
	right: 32px;
}

#pagelinks {
	height: 100%;
}
.mobileNav {
	display: none;
	margin-top: 60px;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}
.desktopNav {
	display: flex;
	width: 50%;
	margin-left: 50%;
	justify-content: right;
	align-content: center;
	align-items: center;
}
.displayNav {
	display: flex !important;
}
#pagelinks button {
	background-color: #97ba27;
	color: #02020b;
	font-size: 25px;
	text-decoration: none;
	line-height: 25px;
	width: 100%;
	align-self: stretch;
}

#homeSection,
#contactSection,
#menuSection {
	padding-top: 60px;
}

/**
  * HOME SECTION STYLES
**/
#homeSection {
	height: 100vh;
	background: linear-gradient(
			0deg,
			rgba(200, 200, 200, 0.2),
			rgba(200, 200, 200, 0.2)
		),
		url(./public/images/large-restaurant.jpg);
	background-size: cover;
	background-position: center;
}

#homeSection p {
	font-size: 24px;
	font-style: italic;
	text-align:left;
}

#callout1 {
	top: 25%;
	left: 25%;
}
#callout2 {
	bottom: 10%;
	right: 25%;
}
#contactSection {
	min-height: 100vh;
}

/**
  * MENU GRID AND CONTENT SECTION
**/
#menuSection {
	min-height: 100vh;
}

#menuButtons {
	background-color: #3c4747;
	color: #e55811;

	display: flex;
	width: 100%;
	height: 71px;
	align-content: stretch;
	justify-content: space-evenly;
}

.menuButton {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}
.menuButton:hover {
	cursor: pointer;
}

#menu h1 {
	margin-top: 20px;
	color: #9a1e04;
	font-size: 24px;
	font-style: italic;
}
#menu h1::after {
	content: "";
	width: 100px;
	border: 3px solid #9a1e04;
	display: block;
	margin: 20px auto;
}

#menu h2 {
	font-size: 16px;
}
#menu h3 {
	margin-top: 20px;
	font-size: 20px;
}
#menu p {
	font-size: 14px;
}

.sideImages {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/**
  * CONTACT SECTION STYLES
**/
#contactSection {
	font-size: 30px;
	font-style: italic;
}

.hours,
.address {
	margin: 50px 0;
}
.hours p,
.address p {
	margin: 5px 0;
}

.img-right-lg img,
.img-left-lg img {
	width: 229px;
	height: 229px;
}
