/**
  * IMPORTS / KEYFRAMES / FONTS
**/
@import url("https://use.typekit.net/jeb0wdw.css"); /* FLOOD-STD FONT */
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"); /* YANONE KAFFEESATZ FONT */
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**
  * GLOBAL DEFAULTS
**/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #02020b;
	color: #ece4b7;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	overflow-x: hidden;
}

.App {
	text-align: center;
}

img {
	border-radius: 50%;
}

.contentImages img,
#menuSection .sideImages img {
	width: 75px;
	height: 75px;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button {
	border: 0;
	padding: 0;
}

/**
  * TOP BAR SECTION
**/
#topnav {
	position: fixed;
	height: 60px;
	width: 100vw;
	background-color: #97ba27;
	z-index: 9999;
	text-align: left;
}
/**
  * subsection -  COMPANY NAME
**/
@media only screen and (min-width: 961px) {
	.companyName {
		flex-direction: row;
		max-height: 60px;
	}

	.logo {
		max-height: 60px;
	}

	.subtitle {
		color: #02020b;
		font-family: flood-std, sans-serif;
		font-size: 25px;
		line-height: 74px;
	}
}

@media only screen and (max-width: 960px) {
	.companyName {
		flex-direction: column;
		max-height: 60px;
	}

	.logo {
		max-height: 40px;
	}

	.subtitle {
		color: #02020b;
		font-family: flood-std, sans-serif;
		font-size: 18px;
		margin-left: 5px;
	}
}

/**
  * subsection - NAVIGATION MENU
**/
#menuSVG {
	position: fixed;
	top: 12px;
	right: 32px;
}
#menuSVG:hover {
	cursor: pointer;
}

#pagelinks {
	height: 100%;
}
.mobileNav {
	display: none;
	margin-top: 60px;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.displayNav {
	display: flex !important;
}

.desktopNav {
	float: right;
	margin-right: 5%;
}

#pagelinks button {
	background-color: #97ba27;
	color: #02020b;
	font-size: 25px;
	text-decoration: none;
	line-height: 25px;
	width: 100%;
	align-self: stretch;
	padding: 0 20px;
}
#pagelinks button:hover {
	cursor: pointer;
}

/**
  * DEFAULT STYLING FOR ALL SECTIONS
  * clearing the navigation bar with padding
**/
#homeSection,
#contactSection,
#menuSection {
	padding-top: 60px;
}

/**
  * HOME SECTION STYLES
**/
#homeSection {
	height: 100vh;
	background: linear-gradient(
			0deg,
			rgba(200, 200, 200, 0.2),
			rgba(200, 200, 200, 0.2)
		),
		url(./public/images/large-restaurant.jpg);
	background-size: cover;
	background-position: center;
}

#homeSection p {
	font-size: 24px;
	font-style: italic;
	text-align: left;
	padding: 0px 10px;
	background-color: rgba(2, 2, 11, 0.3);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	max-width: 213px;
}

#contactSection {
	min-height: 100vh;
}

/**
  * MENU GRID AND CONTENT SECTION
  * full section
  * buttons
  * menu appearance
  * menu images
**/
#menuSection {
	min-height: 100vh;
}

#menuButtons {
	color: #e55811;
	display: flex;
	width: 100%;
	height: 71px;
	align-content: center;
}

.menuButton {
	background-color: #3c4747;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.menuButton:hover {
	cursor: pointer;
}

.menuSeparator {
	height: 80px;
	border: 3px solid #9a1e04;
	margin: auto 0;
	position: relative;
	top: -6px;
}

.desktopMenuButtons {
	border-radius: 5px;
	justify-content: center;
}

.desktopMenuButtons .menuButton {
	margin: 0 20px;
	min-width: 150px;
}

.mobileMenuButtons {
	border-radius: 0px;
	justify-content: space-evenly;
}

.mobileMenuButtons .menuButton {
	width: 100%;
}

#menu h1 {
	margin-top: 20px;
	color: #9a1e04;
	font-size: 24px;
	font-style: italic;
}
#menu h1::after {
	content: "";
	width: 100px;
	border: 3px solid #9a1e04;
	display: block;
	margin: 20px auto;
}

#menu h2 {
	font-size: 16px;
}
#menu h3 {
	margin-top: 20px;
	font-size: 20px;
}
#menu p {
	font-size: 15px;
}

#menu h1,
#menu h2,
#menu h3 {
	font-family: flood-std, sans-serif;
}

.sideImages {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/**
  * CONTACT SECTION STYLES
**/
#contactSection {
	font-size: 25px;
	font-style: italic;
	font-family: flood-std;
}

.hours,
.address {
	margin-top: 15px;
}

.hours p,
.address p {
	margin: 5px 0;
}

.img-right-lg,
.img-left-lg {
	width: 115px;
	height: 230px;
}

.img-left-lg {
	justify-self: left;
	border-radius: 0;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.img-right-lg {
	justify-self: right;
	border-radius: 0;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
